body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}
canvas {
    position: fixed !important;
    display: block;
}
a {
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}
a:visited {
    color: rgb(0, 0, 0);
}
  
h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    z-index: 10;
}
h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 8.5vw;
    line-height: 1;
    z-index: 10;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 2vw;
}
button {
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.play {
    position: absolute;
    top: 2vh;
    right: 2vw;
}
.play2 {
    position: absolute;
    top: 45vh;
    
}
.back {
    position: absolute;
    top: 2vh;
    left: 2vw;
}

/* story div */
.story {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 50vw;
    z-index: 10;
    padding: 3vw;
}
.story.raspberry {
    transform: rotate(-5deg);
    background-color: rgba(0, 161, 91, .8);
}
.story.friedrice {
    transform: rotate(5deg);
    background-color: rgba(236, 234, 230, 0.8);
}
.story.popsicle {
    transform: rotate(3deg);
    background-color: rgba(187, 230, 255, 0.8);
}
.story.apple {
    top: 25vh;
    transform: rotate(-8deg);
    background-color: rgba(158, 63, 0, 0.8);
    color:rgba(136, 199, 64);
}
.story.egg{
    transform: rotate(2deg);
    background-color: rgba(189, 255, 187, 0.8);
}
.height {
    height: 60vh;
}
.height-short {
    height: 45vh;
}
.story p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}
.dark {
    color: rgba(255, 232, 29, 0.8);
}
.dark:visited {
    color: rgba(255, 232, 29, 0.8);
}

.move {
    position: fixed;
    right: 1vw;
    top: 40vh;
    transform: rotate(-60deg);
}
.clear {
    position: fixed;
    left: 2vw;
    top: 70vh;
    transform: rotate(45deg);
    color: rgba(119, 44, 0, 0.8);
}

/* index button */
.random {
    position: absolute;
    top: 65%;
    right: 10%;
    cursor: pointer;
    transform: rotate(3deg);
    border: none;
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 8.5vw;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: black;
    z-index: 10;
}
.random:hover, 
.play:hover, 
.back:hover {
    color: rgba(238, 58, 3, 0.856)
}
/* index background */
.background {
    background-color: rgb(255, 157, 29);
    width: 100%;
}

/* index instructions */
.eat {
    position: absolute;
    left: 3vw;
    top: 45vh;
    width: 10vw;
}
.decide {
    position: absolute;
    right: 5vw;
    top: 45vh;
    width: 10vw;
    
}
/* page transitions */
/* fade
.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
  }
  
  .transition-1.is-active {
    pointer-events: all;
    opacity: 1;
  }
  
  .transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
  }
  
  .transition-2.is-active {
    left: 0px;
  }
  */
  .transition-3 {
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgb(255, 157, 29);
    transition: 0.5s ease-out;
  }
  
  .transition-3.is-active {
    bottom: 0;
  }
